TELEGRAM_BOT_TOKEN=
MAX_WORKERS=3
MAX_DRIVERS=3
COST_PER_ACCOUNT=2
ADMIN_USER_IDS=5105745706
CREDIT_USER_IDS=

# Selenium
SELENIUM_HEADLESS=false
SELENIUM_AUTO_CLOSE=false
SELENIUM_LOCALE=id-ID
SELENIUM_TIMEZONE=Asia/Jakarta
SELENIUM_WAIT_TIMEOUT=20
PAYMENT_RETRY_ON_CARD_ERROR=true
PAYMENT_MAX_CARD_ATTEMPTS=2
SELENIUM_PROFILE_DIR=./data/driver_profiles
VOUCHER_DB_PATH=./data/vouchers.json
USER_DB_PATH=./data/users.json
DOMAIN_DB_PATH=./data/domains.json

# Optional: isi jika tidak ingin auto-download driver
CHROMEDRIVER_PATH=
CHROME_BINARY=
